{% extends 'base.html.twig' %}

{% block title %}Hello Jamila!{% endblock %}

{% block body %}

<div>
    <h1 class="text-3xl font-bold underline text-red-500">
      Hello world!
    </h1>
</div>
{% endblock %}
